@keyframes temp-highlight{
	0% {
		background: none;
	}
	50% {
		background: rgba(30, 182, 255, 0.45);
	}
	100% {
		background: none;
	}
}

.brackets-currently-selected-highlight{
	position: absolute !important;
	-moz-box-sizing: border-box !important;
	-webkit-box-sizing: border-box !important;
	box-sizing: border-box !important;
	border-style: solid !important;
	border-color: rgba(30, 182, 255, 0.69) !important;
	border-width: 2px !important;
	border-radius: 4px !important;
	pointer-events: none !important;
	overflow-x: hidden !important;
	overflow-y: hidden !important;
	margin: 0 !important;
	padding: 0 !important;
	background: none !important;

	animation-name: temp-highlight !important;
	animation-duration: 0.75s !important;
}
