@keyframes bracey-blink-background{
	0% {
		background: none;
	}
	50% {
		background: rgba(30, 182, 255, 0.45);
	}
	100% {
		background: none;
	}
}

.bracey-currently-selected-highlight{
	z-index: 2147483647 !important;
	position: absolute !important;
	-moz-box-sizing: border-box !important;
	-webkit-box-sizing: border-box !important;
	box-sizing: border-box !important;
	border-style: solid !important;
	border-color: rgba(30, 182, 255, 0.69);
	border-width: 1px !important;
	pointer-events: none !important;
	overflow-x: hidden !important;
	overflow-y: hidden !important;
	margin: 0 !important;
	padding: 0 !important;

	animation: bracey-blink-background 0.75s !important;
}

.bracey-highlight-error{
	border-color: rgba(239, 83, 80, 0.75) !important;
	background: rgba(239, 83, 80, 0.25) !important;
}

.bracey-error-indicator{
	z-index: 2147483647 !important;
	position: fixed !important;
	top: 0 !important;
	left: 0 !important;
	border-style: solid !important;
	border-width: 1px !important;
	padding: 8px !important;
	border-radius: 100% !important;
	margin: 5px !important;
	border-color: rgb(239, 83, 80) !important;
	background: rgba(239, 83, 80, .75) !important;
}

.bracey-error-indicator:hover{
	background: none !important;
	border: none !important;
}

.bracey-error-indicator > div{
	display: none;
	z-index: 2147483647 !important;
	position: fixed !important;
	top: 0 !important;
	left: 0 !important;
	border-style: solid !important;
	border-width: 1px !important;
	padding: 8px !important;
	margin: 5px !important;
	border-color: rgb(239, 83, 80) !important;
	background: rgba(239, 83, 80, .75) !important;
	color: #fff !important;
}

.bracey-error-indicator:hover > div{
	display: block;
}
